# Ivy Database

We have a SQL-server based databased named as Ivy Database in the FRE department. Yet the access may be closed on holidays and is only limited to NYU network even if it is available. Here I provide a demo for retrieve data from this database.

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pymssql
import pandas as pd
import numpy as np

conn = pymssql.connect(server="fresql.poly.edu", user="ivyuser", password="resuyvi")
sql1 = '''
SELECT sp.Date date, 
sp.SecurityID,
s.Ticker ticker, 
sp.ClosePrice price
FROM XFDATA.DBO.SECURITY_PRICE AS SP
JOIN XFDATA.DBO.SECURITY AS S ON sp.SecurityID = S.SecurityID
WHERE SP.Date BETWEEN '2021-03-01' AND '2021-03-01'
order by 
s.Ticker,  
sp.Date
'''
data = pd.read_sql(sql1, conn)
data

           date  SecurityID  ticker       price
0    2021-03-01      102479            0.000000
1    2021-03-01      209477          114.989998
2    2021-03-01      109811           24.540001
3    2021-03-01      101149  A       124.480003
4    2021-03-01      210354  AA       25.990000
...         ...         ...     ...         ...
8721 2021-03-01      128292  ZZZZ      0.000000
8722 2021-03-01      134880  ZZZZ     80.853302
8723 2021-03-01      128350  ZZZZ      0.010000
8724 2021-03-01      129857  ZZZZ    604.389221
8725 2021-03-01      129859  ZZZZ    570.979675

[8726 rows x 4 columns]

Below I follow instructions from [Stefan Jansen's github](https://github.com/stefan-jansen/machine-learning-for-trading) to query data from open resources.

# Select tickers

I first get the list for S&P 500 stocks. I use historical data for these stocks to create my machine learning dataset.

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
df = pd.read_html(url, header=0)[0]
df

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
...,...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [3]:
ticker_list = df['Symbol'].tolist() + ['^GSPC']
ticker_str = " ".join(ticker_list)
ticker_str

'MMM AOS ABT ABBV ABMD ACN ATVI ADM ADBE ADP AAP AES AFL A APD AKAM ALK ALB ARE ALGN ALLE LNT ALL GOOGL GOOG MO AMZN AMCR AMD AEE AAL AEP AXP AIG AMT AWK AMP ABC AME AMGN APH ADI ANSS AON APA AAPL AMAT APTV ACGL ANET AJG AIZ T ATO ADSK AZO AVB AVY BKR BALL BAC BBWI BAX BDX WRB BRK.B BBY BIO TECH BIIB BLK BK BA BKNG BWA BXP BSX BMY AVGO BR BRO BF.B CHRW CDNS CZR CPT CPB COF CAH KMX CCL CARR CTLT CAT CBOE CBRE CDW CE CNC CNP CDAY CF CRL SCHW CHTR CVX CMG CB CHD CI CINF CTAS CSCO C CFG CLX CME CMS KO CTSH CL CMCSA CMA CAG COP ED STZ CEG COO CPRT GLW CTVA CSGP COST CTRA CCI CSX CMI CVS DHI DHR DRI DVA DE DAL XRAY DVN DXCM FANG DLR DFS DISH DIS DG DLTR D DPZ DOV DOW DTE DUK DD DXC EMN ETN EBAY ECL EIX EW EA ELV LLY EMR ENPH ETR EOG EPAM EQT EFX EQIX EQR ESS EL ETSY RE EVRG ES EXC EXPE EXPD EXR XOM FFIV FDS FAST FRT FDX FITB FRC FE FIS FISV FLT FMC F FTNT FTV FBHS FOXA FOX BEN FCX GRMN IT GNRC GD GE GIS GM GPC GILD GL GPN GS HAL HIG HAS HCA PEAK HSIC HSY HES HPE HLT HOLX HD HON HRL HST HWM HPQ HUM HBAN HII IBM IEX IDXX ITW ILMN INCY IR INTC ICE IP IPG IFF INTU ISRG IVZ INVH IQV IRM JBHT JKHY J JNJ JCI JPM JNPR K KDP KEY KEYS KMB KIM KMI KLAC KHC KR LHX LH LRCX LW LVS LDOS LEN LNC LIN LYV LKQ LMT L LOW LUMN LYB MTB MRO MPC MKTX MAR MMC MLM MAS MA MTCH MKC MCD MCK MDT MRK META MET MTD MGM MCHP MU MSFT MAA MRNA MHK MOH TAP MDLZ MPWR MNST MCO MS MOS MSI MSCI NDAQ NTAP NFLX NWL NEM NWSA NWS NEE NKE NI NDSN NSC NTRS NOC NLOK NCLH NRG NUE NVDA NVR NXPI ORLY OXY ODFL OMC ON OKE ORCL OGN OTIS PCAR PKG PARA PH PAYX PAYC PYPL PNR PEP PKI PFE PCG PM PSX PNW PXD PNC POOL PPG PPL PFG PG PGR PLD PRU PEG PTC PSA PHM QRVO PWR QCOM DGX RL RJF RTX O REG REGN RF RSG RMD RHI ROK ROL ROP ROST RCL SPGI CRM SBAC SLB STX SEE SRE NOW SHW SBNY SPG SWKS SJM SNA SEDG SO LUV SWK SBUX STT STE SYK SIVB SYF SNPS SYY TMUS TROW TTWO TPR TRGP TGT TEL TDY TFX TER TSLA TXN TXT TMO TJX TSCO TT TDG TRV TRMB TFC TYL TSN USB UDR ULTA UNP UAL UPS URI UNH UHS VLO VTR VRSN VRSK VZ VRTX VFC VTRS VICI V VNO VMC WAB WBA WMT WBD WM WAT WEC WFC WELL WST WDC WRK WY WHR WMB WTW GWW WYNN XEL XYL YUM ZBRA ZBH ZION ZTS ^GSPC'

# yfinance

I use `yfinance` to collect data from yahoo finance for the listed stocks above.

In [4]:
import pandas as pd
import yfinance as yf

tickers = yf.Tickers(ticker_str)

In [5]:
tickers.tickers

{'MMM': yfinance.Ticker object <MMM>,
 'AOS': yfinance.Ticker object <AOS>,
 'ABT': yfinance.Ticker object <ABT>,
 'ABBV': yfinance.Ticker object <ABBV>,
 'ABMD': yfinance.Ticker object <ABMD>,
 'ACN': yfinance.Ticker object <ACN>,
 'ATVI': yfinance.Ticker object <ATVI>,
 'ADM': yfinance.Ticker object <ADM>,
 'ADBE': yfinance.Ticker object <ADBE>,
 'ADP': yfinance.Ticker object <ADP>,
 'AAP': yfinance.Ticker object <AAP>,
 'AES': yfinance.Ticker object <AES>,
 'AFL': yfinance.Ticker object <AFL>,
 'A': yfinance.Ticker object <A>,
 'APD': yfinance.Ticker object <APD>,
 'AKAM': yfinance.Ticker object <AKAM>,
 'ALK': yfinance.Ticker object <ALK>,
 'ALB': yfinance.Ticker object <ALB>,
 'ARE': yfinance.Ticker object <ARE>,
 'ALGN': yfinance.Ticker object <ALGN>,
 'ALLE': yfinance.Ticker object <ALLE>,
 'LNT': yfinance.Ticker object <LNT>,
 'ALL': yfinance.Ticker object <ALL>,
 'GOOGL': yfinance.Ticker object <GOOGL>,
 'GOOG': yfinance.Ticker object <GOOG>,
 'MO': yfinance.Ticker object <MO>,
 'AMZN': yfinance.Ticker object <AMZN>,
 'AMCR': yfinance.Ticker object <AMCR>,
 'AMD': yfinance.Ticker object <AMD>,
 'AEE': yfinance.Ticker object <AEE>,
 'AAL': yfinance.Ticker object <AAL>,
 'AEP': yfinance.Ticker object <AEP>,
 'AXP': yfinance.Ticker object <AXP>,
 'AIG': yfinance.Ticker object <AIG>,
 'AMT': yfinance.Ticker object <AMT>,
 'AWK': yfinance.Ticker object <AWK>,
 'AMP': yfinance.Ticker object <AMP>,
 'ABC': yfinance.Ticker object <ABC>,
 'AME': yfinance.Ticker object <AME>,
 'AMGN': yfinance.Ticker object <AMGN>,
 'APH': yfinance.Ticker object <APH>,
 'ADI': yfinance.Ticker object <ADI>,
 'ANSS': yfinance.Ticker object <ANSS>,
 'AON': yfinance.Ticker object <AON>,
 'APA': yfinance.Ticker object <APA>,
 'AAPL': yfinance.Ticker object <AAPL>,
 'AMAT': yfinance.Ticker object <AMAT>,
 'APTV': yfinance.Ticker object <APTV>,
 'ACGL': yfinance.Ticker object <ACGL>,
 'ANET': yfinance.Ticker object <ANET>,
 'AJG': yfinance.Ticker object <AJG>,
 'AIZ': yfinance.Ticker object <AIZ>,
 'T': yfinance.Ticker object <T>,
 'ATO': yfinance.Ticker object <ATO>,
 'ADSK': yfinance.Ticker object <ADSK>,
 'AZO': yfinance.Ticker object <AZO>,
 'AVB': yfinance.Ticker object <AVB>,
 'AVY': yfinance.Ticker object <AVY>,
 'BKR': yfinance.Ticker object <BKR>,
 'BALL': yfinance.Ticker object <BALL>,
 'BAC': yfinance.Ticker object <BAC>,
 'BBWI': yfinance.Ticker object <BBWI>,
 'BAX': yfinance.Ticker object <BAX>,
 'BDX': yfinance.Ticker object <BDX>,
 'WRB': yfinance.Ticker object <WRB>,
 'BRK.B': yfinance.Ticker object <BRK.B>,
 'BBY': yfinance.Ticker object <BBY>,
 'BIO': yfinance.Ticker object <BIO>,
 'TECH': yfinance.Ticker object <TECH>,
 'BIIB': yfinance.Ticker object <BIIB>,
 'BLK': yfinance.Ticker object <BLK>,
 'BK': yfinance.Ticker object <BK>,
 'BA': yfinance.Ticker object <BA>,
 'BKNG': yfinance.Ticker object <BKNG>,
 'BWA': yfinance.Ticker object <BWA>,
 'BXP': yfinance.Ticker object <BXP>,
 'BSX': yfinance.Ticker object <BSX>,
 'BMY': yfinance.Ticker object <BMY>,
 'AVGO': yfinance.Ticker object <AVGO>,
 'BR': yfinance.Ticker object <BR>,
 'BRO': yfinance.Ticker object <BRO>,
 'BF.B': yfinance.Ticker object <BF.B>,
 'CHRW': yfinance.Ticker object <CHRW>,
 'CDNS': yfinance.Ticker object <CDNS>,
 'CZR': yfinance.Ticker object <CZR>,
 'CPT': yfinance.Ticker object <CPT>,
 'CPB': yfinance.Ticker object <CPB>,
 'COF': yfinance.Ticker object <COF>,
 'CAH': yfinance.Ticker object <CAH>,
 'KMX': yfinance.Ticker object <KMX>,
 'CCL': yfinance.Ticker object <CCL>,
 'CARR': yfinance.Ticker object <CARR>,
 'CTLT': yfinance.Ticker object <CTLT>,
 'CAT': yfinance.Ticker object <CAT>,
 'CBOE': yfinance.Ticker object <CBOE>,
 'CBRE': yfinance.Ticker object <CBRE>,
 'CDW': yfinance.Ticker object <CDW>,
 'CE': yfinance.Ticker object <CE>,
 'CNC': yfinance.Ticker object <CNC>,
 'CNP': yfinance.Ticker object <CNP>,
 'CDAY': yfinance.Ticker object <CDAY>,
 'CF': yfinance.Ticker object <CF>,
 'CRL': yfinance.Ticker object <CRL>,
 'SCHW': yfinance.Ticker object <SCHW>,
 'CHTR': yfinance.Ticker object <CHTR>,
 'CVX': yfinance.Ticker object <CVX>,
 'CMG': yfinance.Ticker object <CMG>,
 'CB': yfinance.Ticker object <CB>,
 'CHD': yfinance.Ticker object <CHD>,
 'CI': yfinance.Ticker object <CI>,
 'CINF': yfinance.Ticker object <CINF>,
 'CTAS': yfinance.Ticker object <CTAS>,
 'CSCO': yfinance.Ticker object <CSCO>,
 'C': yfinance.Ticker object <C>,
 'CFG': yfinance.Ticker object <CFG>,
 'CLX': yfinance.Ticker object <CLX>,
 'CME': yfinance.Ticker object <CME>,
 'CMS': yfinance.Ticker object <CMS>,
 'KO': yfinance.Ticker object <KO>,
 'CTSH': yfinance.Ticker object <CTSH>,
 'CL': yfinance.Ticker object <CL>,
 'CMCSA': yfinance.Ticker object <CMCSA>,
 'CMA': yfinance.Ticker object <CMA>,
 'CAG': yfinance.Ticker object <CAG>,
 'COP': yfinance.Ticker object <COP>,
 'ED': yfinance.Ticker object <ED>,
 'STZ': yfinance.Ticker object <STZ>,
 'CEG': yfinance.Ticker object <CEG>,
 'COO': yfinance.Ticker object <COO>,
 'CPRT': yfinance.Ticker object <CPRT>,
 'GLW': yfinance.Ticker object <GLW>,
 'CTVA': yfinance.Ticker object <CTVA>,
 'CSGP': yfinance.Ticker object <CSGP>,
 'COST': yfinance.Ticker object <COST>,
 'CTRA': yfinance.Ticker object <CTRA>,
 'CCI': yfinance.Ticker object <CCI>,
 'CSX': yfinance.Ticker object <CSX>,
 'CMI': yfinance.Ticker object <CMI>,
 'CVS': yfinance.Ticker object <CVS>,
 'DHI': yfinance.Ticker object <DHI>,
 'DHR': yfinance.Ticker object <DHR>,
 'DRI': yfinance.Ticker object <DRI>,
 'DVA': yfinance.Ticker object <DVA>,
 'DE': yfinance.Ticker object <DE>,
 'DAL': yfinance.Ticker object <DAL>,
 'XRAY': yfinance.Ticker object <XRAY>,
 'DVN': yfinance.Ticker object <DVN>,
 'DXCM': yfinance.Ticker object <DXCM>,
 'FANG': yfinance.Ticker object <FANG>,
 'DLR': yfinance.Ticker object <DLR>,
 'DFS': yfinance.Ticker object <DFS>,
 'DISH': yfinance.Ticker object <DISH>,
 'DIS': yfinance.Ticker object <DIS>,
 'DG': yfinance.Ticker object <DG>,
 'DLTR': yfinance.Ticker object <DLTR>,
 'D': yfinance.Ticker object <D>,
 'DPZ': yfinance.Ticker object <DPZ>,
 'DOV': yfinance.Ticker object <DOV>,
 'DOW': yfinance.Ticker object <DOW>,
 'DTE': yfinance.Ticker object <DTE>,
 'DUK': yfinance.Ticker object <DUK>,
 'DD': yfinance.Ticker object <DD>,
 'DXC': yfinance.Ticker object <DXC>,
 'EMN': yfinance.Ticker object <EMN>,
 'ETN': yfinance.Ticker object <ETN>,
 'EBAY': yfinance.Ticker object <EBAY>,
 'ECL': yfinance.Ticker object <ECL>,
 'EIX': yfinance.Ticker object <EIX>,
 'EW': yfinance.Ticker object <EW>,
 'EA': yfinance.Ticker object <EA>,
 'ELV': yfinance.Ticker object <ELV>,
 'LLY': yfinance.Ticker object <LLY>,
 'EMR': yfinance.Ticker object <EMR>,
 'ENPH': yfinance.Ticker object <ENPH>,
 'ETR': yfinance.Ticker object <ETR>,
 'EOG': yfinance.Ticker object <EOG>,
 'EPAM': yfinance.Ticker object <EPAM>,
 'EQT': yfinance.Ticker object <EQT>,
 'EFX': yfinance.Ticker object <EFX>,
 'EQIX': yfinance.Ticker object <EQIX>,
 'EQR': yfinance.Ticker object <EQR>,
 'ESS': yfinance.Ticker object <ESS>,
 'EL': yfinance.Ticker object <EL>,
 'ETSY': yfinance.Ticker object <ETSY>,
 'RE': yfinance.Ticker object <RE>,
 'EVRG': yfinance.Ticker object <EVRG>,
 'ES': yfinance.Ticker object <ES>,
 'EXC': yfinance.Ticker object <EXC>,
 'EXPE': yfinance.Ticker object <EXPE>,
 'EXPD': yfinance.Ticker object <EXPD>,
 'EXR': yfinance.Ticker object <EXR>,
 'XOM': yfinance.Ticker object <XOM>,
 'FFIV': yfinance.Ticker object <FFIV>,
 'FDS': yfinance.Ticker object <FDS>,
 'FAST': yfinance.Ticker object <FAST>,
 'FRT': yfinance.Ticker object <FRT>,
 'FDX': yfinance.Ticker object <FDX>,
 'FITB': yfinance.Ticker object <FITB>,
 'FRC': yfinance.Ticker object <FRC>,
 'FE': yfinance.Ticker object <FE>,
 'FIS': yfinance.Ticker object <FIS>,
 'FISV': yfinance.Ticker object <FISV>,
 'FLT': yfinance.Ticker object <FLT>,
 'FMC': yfinance.Ticker object <FMC>,
 'F': yfinance.Ticker object <F>,
 'FTNT': yfinance.Ticker object <FTNT>,
 'FTV': yfinance.Ticker object <FTV>,
 'FBHS': yfinance.Ticker object <FBHS>,
 'FOXA': yfinance.Ticker object <FOXA>,
 'FOX': yfinance.Ticker object <FOX>,
 'BEN': yfinance.Ticker object <BEN>,
 'FCX': yfinance.Ticker object <FCX>,
 'GRMN': yfinance.Ticker object <GRMN>,
 'IT': yfinance.Ticker object <IT>,
 'GNRC': yfinance.Ticker object <GNRC>,
 'GD': yfinance.Ticker object <GD>,
 'GE': yfinance.Ticker object <GE>,
 'GIS': yfinance.Ticker object <GIS>,
 'GM': yfinance.Ticker object <GM>,
 'GPC': yfinance.Ticker object <GPC>,
 'GILD': yfinance.Ticker object <GILD>,
 'GL': yfinance.Ticker object <GL>,
 'GPN': yfinance.Ticker object <GPN>,
 'GS': yfinance.Ticker object <GS>,
 'HAL': yfinance.Ticker object <HAL>,
 'HIG': yfinance.Ticker object <HIG>,
 'HAS': yfinance.Ticker object <HAS>,
 'HCA': yfinance.Ticker object <HCA>,
 'PEAK': yfinance.Ticker object <PEAK>,
 'HSIC': yfinance.Ticker object <HSIC>,
 'HSY': yfinance.Ticker object <HSY>,
 'HES': yfinance.Ticker object <HES>,
 'HPE': yfinance.Ticker object <HPE>,
 'HLT': yfinance.Ticker object <HLT>,
 'HOLX': yfinance.Ticker object <HOLX>,
 'HD': yfinance.Ticker object <HD>,
 'HON': yfinance.Ticker object <HON>,
 'HRL': yfinance.Ticker object <HRL>,
 'HST': yfinance.Ticker object <HST>,
 'HWM': yfinance.Ticker object <HWM>,
 'HPQ': yfinance.Ticker object <HPQ>,
 'HUM': yfinance.Ticker object <HUM>,
 'HBAN': yfinance.Ticker object <HBAN>,
 'HII': yfinance.Ticker object <HII>,
 'IBM': yfinance.Ticker object <IBM>,
 'IEX': yfinance.Ticker object <IEX>,
 'IDXX': yfinance.Ticker object <IDXX>,
 'ITW': yfinance.Ticker object <ITW>,
 'ILMN': yfinance.Ticker object <ILMN>,
 'INCY': yfinance.Ticker object <INCY>,
 'IR': yfinance.Ticker object <IR>,
 'INTC': yfinance.Ticker object <INTC>,
 'ICE': yfinance.Ticker object <ICE>,
 'IP': yfinance.Ticker object <IP>,
 'IPG': yfinance.Ticker object <IPG>,
 'IFF': yfinance.Ticker object <IFF>,
 'INTU': yfinance.Ticker object <INTU>,
 'ISRG': yfinance.Ticker object <ISRG>,
 'IVZ': yfinance.Ticker object <IVZ>,
 'INVH': yfinance.Ticker object <INVH>,
 'IQV': yfinance.Ticker object <IQV>,
 'IRM': yfinance.Ticker object <IRM>,
 'JBHT': yfinance.Ticker object <JBHT>,
 'JKHY': yfinance.Ticker object <JKHY>,
 'J': yfinance.Ticker object <J>,
 'JNJ': yfinance.Ticker object <JNJ>,
 'JCI': yfinance.Ticker object <JCI>,
 'JPM': yfinance.Ticker object <JPM>,
 'JNPR': yfinance.Ticker object <JNPR>,
 'K': yfinance.Ticker object <K>,
 'KDP': yfinance.Ticker object <KDP>,
 'KEY': yfinance.Ticker object <KEY>,
 'KEYS': yfinance.Ticker object <KEYS>,
 'KMB': yfinance.Ticker object <KMB>,
 'KIM': yfinance.Ticker object <KIM>,
 'KMI': yfinance.Ticker object <KMI>,
 'KLAC': yfinance.Ticker object <KLAC>,
 'KHC': yfinance.Ticker object <KHC>,
 'KR': yfinance.Ticker object <KR>,
 'LHX': yfinance.Ticker object <LHX>,
 'LH': yfinance.Ticker object <LH>,
 'LRCX': yfinance.Ticker object <LRCX>,
 'LW': yfinance.Ticker object <LW>,
 'LVS': yfinance.Ticker object <LVS>,
 'LDOS': yfinance.Ticker object <LDOS>,
 'LEN': yfinance.Ticker object <LEN>,
 'LNC': yfinance.Ticker object <LNC>,
 'LIN': yfinance.Ticker object <LIN>,
 'LYV': yfinance.Ticker object <LYV>,
 'LKQ': yfinance.Ticker object <LKQ>,
 'LMT': yfinance.Ticker object <LMT>,
 'L': yfinance.Ticker object <L>,
 'LOW': yfinance.Ticker object <LOW>,
 'LUMN': yfinance.Ticker object <LUMN>,
 'LYB': yfinance.Ticker object <LYB>,
 'MTB': yfinance.Ticker object <MTB>,
 'MRO': yfinance.Ticker object <MRO>,
 'MPC': yfinance.Ticker object <MPC>,
 'MKTX': yfinance.Ticker object <MKTX>,
 'MAR': yfinance.Ticker object <MAR>,
 'MMC': yfinance.Ticker object <MMC>,
 'MLM': yfinance.Ticker object <MLM>,
 'MAS': yfinance.Ticker object <MAS>,
 'MA': yfinance.Ticker object <MA>,
 'MTCH': yfinance.Ticker object <MTCH>,
 'MKC': yfinance.Ticker object <MKC>,
 'MCD': yfinance.Ticker object <MCD>,
 'MCK': yfinance.Ticker object <MCK>,
 'MDT': yfinance.Ticker object <MDT>,
 'MRK': yfinance.Ticker object <MRK>,
 'META': yfinance.Ticker object <META>,
 'MET': yfinance.Ticker object <MET>,
 'MTD': yfinance.Ticker object <MTD>,
 'MGM': yfinance.Ticker object <MGM>,
 'MCHP': yfinance.Ticker object <MCHP>,
 'MU': yfinance.Ticker object <MU>,
 'MSFT': yfinance.Ticker object <MSFT>,
 'MAA': yfinance.Ticker object <MAA>,
 'MRNA': yfinance.Ticker object <MRNA>,
 'MHK': yfinance.Ticker object <MHK>,
 'MOH': yfinance.Ticker object <MOH>,
 'TAP': yfinance.Ticker object <TAP>,
 'MDLZ': yfinance.Ticker object <MDLZ>,
 'MPWR': yfinance.Ticker object <MPWR>,
 'MNST': yfinance.Ticker object <MNST>,
 'MCO': yfinance.Ticker object <MCO>,
 'MS': yfinance.Ticker object <MS>,
 'MOS': yfinance.Ticker object <MOS>,
 'MSI': yfinance.Ticker object <MSI>,
 'MSCI': yfinance.Ticker object <MSCI>,
 'NDAQ': yfinance.Ticker object <NDAQ>,
 'NTAP': yfinance.Ticker object <NTAP>,
 'NFLX': yfinance.Ticker object <NFLX>,
 'NWL': yfinance.Ticker object <NWL>,
 'NEM': yfinance.Ticker object <NEM>,
 'NWSA': yfinance.Ticker object <NWSA>,
 'NWS': yfinance.Ticker object <NWS>,
 'NEE': yfinance.Ticker object <NEE>,
 'NKE': yfinance.Ticker object <NKE>,
 'NI': yfinance.Ticker object <NI>,
 'NDSN': yfinance.Ticker object <NDSN>,
 'NSC': yfinance.Ticker object <NSC>,
 'NTRS': yfinance.Ticker object <NTRS>,
 'NOC': yfinance.Ticker object <NOC>,
 'NLOK': yfinance.Ticker object <NLOK>,
 'NCLH': yfinance.Ticker object <NCLH>,
 'NRG': yfinance.Ticker object <NRG>,
 'NUE': yfinance.Ticker object <NUE>,
 'NVDA': yfinance.Ticker object <NVDA>,
 'NVR': yfinance.Ticker object <NVR>,
 'NXPI': yfinance.Ticker object <NXPI>,
 'ORLY': yfinance.Ticker object <ORLY>,
 'OXY': yfinance.Ticker object <OXY>,
 'ODFL': yfinance.Ticker object <ODFL>,
 'OMC': yfinance.Ticker object <OMC>,
 'ON': yfinance.Ticker object <ON>,
 'OKE': yfinance.Ticker object <OKE>,
 'ORCL': yfinance.Ticker object <ORCL>,
 'OGN': yfinance.Ticker object <OGN>,
 'OTIS': yfinance.Ticker object <OTIS>,
 'PCAR': yfinance.Ticker object <PCAR>,
 'PKG': yfinance.Ticker object <PKG>,
 'PARA': yfinance.Ticker object <PARA>,
 'PH': yfinance.Ticker object <PH>,
 'PAYX': yfinance.Ticker object <PAYX>,
 'PAYC': yfinance.Ticker object <PAYC>,
 'PYPL': yfinance.Ticker object <PYPL>,
 'PNR': yfinance.Ticker object <PNR>,
 'PEP': yfinance.Ticker object <PEP>,
 'PKI': yfinance.Ticker object <PKI>,
 'PFE': yfinance.Ticker object <PFE>,
 'PCG': yfinance.Ticker object <PCG>,
 'PM': yfinance.Ticker object <PM>,
 'PSX': yfinance.Ticker object <PSX>,
 'PNW': yfinance.Ticker object <PNW>,
 'PXD': yfinance.Ticker object <PXD>,
 'PNC': yfinance.Ticker object <PNC>,
 'POOL': yfinance.Ticker object <POOL>,
 'PPG': yfinance.Ticker object <PPG>,
 'PPL': yfinance.Ticker object <PPL>,
 'PFG': yfinance.Ticker object <PFG>,
 'PG': yfinance.Ticker object <PG>,
 'PGR': yfinance.Ticker object <PGR>,
 'PLD': yfinance.Ticker object <PLD>,
 'PRU': yfinance.Ticker object <PRU>,
 'PEG': yfinance.Ticker object <PEG>,
 'PTC': yfinance.Ticker object <PTC>,
 'PSA': yfinance.Ticker object <PSA>,
 'PHM': yfinance.Ticker object <PHM>,
 'QRVO': yfinance.Ticker object <QRVO>,
 'PWR': yfinance.Ticker object <PWR>,
 'QCOM': yfinance.Ticker object <QCOM>,
 'DGX': yfinance.Ticker object <DGX>,
 'RL': yfinance.Ticker object <RL>,
 'RJF': yfinance.Ticker object <RJF>,
 'RTX': yfinance.Ticker object <RTX>,
 'O': yfinance.Ticker object <O>,
 'REG': yfinance.Ticker object <REG>,
 'REGN': yfinance.Ticker object <REGN>,
 'RF': yfinance.Ticker object <RF>,
 'RSG': yfinance.Ticker object <RSG>,
 'RMD': yfinance.Ticker object <RMD>,
 'RHI': yfinance.Ticker object <RHI>,
 'ROK': yfinance.Ticker object <ROK>,
 'ROL': yfinance.Ticker object <ROL>,
 'ROP': yfinance.Ticker object <ROP>,
 'ROST': yfinance.Ticker object <ROST>,
 'RCL': yfinance.Ticker object <RCL>,
 'SPGI': yfinance.Ticker object <SPGI>,
 'CRM': yfinance.Ticker object <CRM>,
 'SBAC': yfinance.Ticker object <SBAC>,
 'SLB': yfinance.Ticker object <SLB>,
 'STX': yfinance.Ticker object <STX>,
 'SEE': yfinance.Ticker object <SEE>,
 'SRE': yfinance.Ticker object <SRE>,
 'NOW': yfinance.Ticker object <NOW>,
 'SHW': yfinance.Ticker object <SHW>,
 'SBNY': yfinance.Ticker object <SBNY>,
 'SPG': yfinance.Ticker object <SPG>,
 'SWKS': yfinance.Ticker object <SWKS>,
 'SJM': yfinance.Ticker object <SJM>,
 'SNA': yfinance.Ticker object <SNA>,
 'SEDG': yfinance.Ticker object <SEDG>,
 'SO': yfinance.Ticker object <SO>,
 'LUV': yfinance.Ticker object <LUV>,
 'SWK': yfinance.Ticker object <SWK>,
 'SBUX': yfinance.Ticker object <SBUX>,
 'STT': yfinance.Ticker object <STT>,
 'STE': yfinance.Ticker object <STE>,
 'SYK': yfinance.Ticker object <SYK>,
 'SIVB': yfinance.Ticker object <SIVB>,
 'SYF': yfinance.Ticker object <SYF>,
 'SNPS': yfinance.Ticker object <SNPS>,
 'SYY': yfinance.Ticker object <SYY>,
 'TMUS': yfinance.Ticker object <TMUS>,
 'TROW': yfinance.Ticker object <TROW>,
 'TTWO': yfinance.Ticker object <TTWO>,
 'TPR': yfinance.Ticker object <TPR>,
 'TRGP': yfinance.Ticker object <TRGP>,
 'TGT': yfinance.Ticker object <TGT>,
 'TEL': yfinance.Ticker object <TEL>,
 'TDY': yfinance.Ticker object <TDY>,
 'TFX': yfinance.Ticker object <TFX>,
 'TER': yfinance.Ticker object <TER>,
 'TSLA': yfinance.Ticker object <TSLA>,
 'TXN': yfinance.Ticker object <TXN>,
 'TXT': yfinance.Ticker object <TXT>,
 'TMO': yfinance.Ticker object <TMO>,
 'TJX': yfinance.Ticker object <TJX>,
 'TSCO': yfinance.Ticker object <TSCO>,
 'TT': yfinance.Ticker object <TT>,
 'TDG': yfinance.Ticker object <TDG>,
 'TRV': yfinance.Ticker object <TRV>,
 'TRMB': yfinance.Ticker object <TRMB>,
 'TFC': yfinance.Ticker object <TFC>,
 'TYL': yfinance.Ticker object <TYL>,
 'TSN': yfinance.Ticker object <TSN>,
 'USB': yfinance.Ticker object <USB>,
 'UDR': yfinance.Ticker object <UDR>,
 'ULTA': yfinance.Ticker object <ULTA>,
 'UNP': yfinance.Ticker object <UNP>,
 'UAL': yfinance.Ticker object <UAL>,
 'UPS': yfinance.Ticker object <UPS>,
 'URI': yfinance.Ticker object <URI>,
 'UNH': yfinance.Ticker object <UNH>,
 'UHS': yfinance.Ticker object <UHS>,
 'VLO': yfinance.Ticker object <VLO>,
 'VTR': yfinance.Ticker object <VTR>,
 'VRSN': yfinance.Ticker object <VRSN>,
 'VRSK': yfinance.Ticker object <VRSK>,
 'VZ': yfinance.Ticker object <VZ>,
 'VRTX': yfinance.Ticker object <VRTX>,
 'VFC': yfinance.Ticker object <VFC>,
 'VTRS': yfinance.Ticker object <VTRS>,
 'VICI': yfinance.Ticker object <VICI>,
 'V': yfinance.Ticker object <V>,
 'VNO': yfinance.Ticker object <VNO>,
 'VMC': yfinance.Ticker object <VMC>,
 'WAB': yfinance.Ticker object <WAB>,
 'WBA': yfinance.Ticker object <WBA>,
 'WMT': yfinance.Ticker object <WMT>,
 'WBD': yfinance.Ticker object <WBD>,
 'WM': yfinance.Ticker object <WM>,
 'WAT': yfinance.Ticker object <WAT>,
 'WEC': yfinance.Ticker object <WEC>,
 'WFC': yfinance.Ticker object <WFC>,
 'WELL': yfinance.Ticker object <WELL>,
 'WST': yfinance.Ticker object <WST>,
 'WDC': yfinance.Ticker object <WDC>,
 'WRK': yfinance.Ticker object <WRK>,
 'WY': yfinance.Ticker object <WY>,
 'WHR': yfinance.Ticker object <WHR>,
 'WMB': yfinance.Ticker object <WMB>,
 'WTW': yfinance.Ticker object <WTW>,
 'GWW': yfinance.Ticker object <GWW>,
 'WYNN': yfinance.Ticker object <WYNN>,
 'XEL': yfinance.Ticker object <XEL>,
 'XYL': yfinance.Ticker object <XYL>,
 'YUM': yfinance.Ticker object <YUM>,
 'ZBRA': yfinance.Ticker object <ZBRA>,
 'ZBH': yfinance.Ticker object <ZBH>,
 'ZION': yfinance.Ticker object <ZION>,
 'ZTS': yfinance.Ticker object <ZTS>,
 '^GSPC': yfinance.Ticker object <^GSPC>}

In [6]:
data = pd.DataFrame([])

for ticker in ticker_list:

    t = tickers.tickers[ticker].history(period="max")
    t["Ticker"] = ticker

    data = pd.concat([data, t], axis=0)

data

Got error from yahoo api for ticker BRK.B, Error: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
- BRK.B: No data found for this date range, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Adj Close
Date,,,,,,,,,
1962-01-02 00:00:00-05:00,0.000000,0.771044,0.748367,0.754036,2.128000e+05,0.0,0.0,MMM,NaN
1962-01-03 00:00:00-05:00,0.000000,0.759705,0.741280,0.759705,4.224000e+05,0.0,0.0,MMM,NaN
1962-01-04 00:00:00-05:00,0.000000,0.772462,0.759705,0.759705,2.128000e+05,0.0,0.0,MMM,NaN
1962-01-05 00:00:00-05:00,0.000000,0.756871,0.737027,0.739862,3.152000e+05,0.0,0.0,MMM,NaN
1962-01-08 00:00:00-05:00,0.000000,0.741280,0.731358,0.735610,3.344000e+05,0.0,0.0,MMM,NaN
...,...,...,...,...,...,...,...,...,...
2022-10-31 00:00:00-04:00,3881.850098,3893.729980,3863.179932,3871.979980,4.820620e+09,0.0,0.0,^GSPC,NaN
2022-11-01 00:00:00-04:00,3901.790039,3911.790039,3843.800049,3856.100098,4.481210e+09,0.0,0.0,^GSPC,NaN
2022-11-02 00:00:00-04:00,3852.899902,3894.439941,3758.679932,3759.689941,4.899000e+09,0.0,0.0,^GSPC,NaN
2022-11-03 00:00:00-04:00,3733.250000,3750.590088,3698.149902,3719.889893,4.625290e+09,0.0,0.0,^GSPC,NaN
2022-11-04 00:00:00-04:00,3766.979980,3796.340088,3708.840088,3736.899902,1.999882e+09,0.0,0.0,^GSPC,NaN

In [7]:
market = data[data['Ticker'] == '^GSPC']

In [8]:
data = data[data['Ticker'] != '^GSPC']
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Adj Close
Date,,,,,,,,,
1962-01-02 00:00:00-05:00,0.000000,0.771044,0.748367,0.754036,212800.0,0.000,0.0,MMM,NaN
1962-01-03 00:00:00-05:00,0.000000,0.759705,0.741280,0.759705,422400.0,0.000,0.0,MMM,NaN
1962-01-04 00:00:00-05:00,0.000000,0.772462,0.759705,0.759705,212800.0,0.000,0.0,MMM,NaN
1962-01-05 00:00:00-05:00,0.000000,0.756871,0.737027,0.739862,315200.0,0.000,0.0,MMM,NaN
1962-01-08 00:00:00-05:00,0.000000,0.741280,0.731358,0.735610,334400.0,0.000,0.0,MMM,NaN
...,...,...,...,...,...,...,...,...,...
2022-10-31 00:00:00-04:00,152.110001,153.339996,149.839996,150.779999,1899000.0,0.325,0.0,ZTS,NaN
2022-11-01 00:00:00-04:00,151.399994,154.910004,150.380005,152.720001,2286200.0,0.000,0.0,ZTS,NaN
2022-11-02 00:00:00-04:00,152.869995,153.210007,147.190002,147.360001,2638300.0,0.000,0.0,ZTS,NaN
2022-11-03 00:00:00-04:00,134.149994,134.149994,124.150002,131.139999,8065500.0,0.000,0.0,ZTS,NaN
2022-11-04 00:00:00-04:00,131.839996,133.473206,127.860001,132.574997,3006565.0,0.000,0.0,ZTS,NaN

In [9]:
market['market return'] = market['Close'].pct_change()
market

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Adj Close,market return
Date,,,,,,,,,,
1950-01-03 00:00:00-05:00,16.660000,16.660000,16.660000,16.660000,1.260000e+06,0.0,0.0,^GSPC,NaN,NaN
1950-01-04 00:00:00-05:00,16.850000,16.850000,16.850000,16.850000,1.890000e+06,0.0,0.0,^GSPC,NaN,0.011405
1950-01-05 00:00:00-05:00,16.930000,16.930000,16.930000,16.930000,2.550000e+06,0.0,0.0,^GSPC,NaN,0.004748
1950-01-06 00:00:00-05:00,16.980000,16.980000,16.980000,16.980000,2.010000e+06,0.0,0.0,^GSPC,NaN,0.002953
1950-01-09 00:00:00-05:00,17.080000,17.080000,17.080000,17.080000,2.520000e+06,0.0,0.0,^GSPC,NaN,0.005889
...,...,...,...,...,...,...,...,...,...,...
2022-10-31 00:00:00-04:00,3881.850098,3893.729980,3863.179932,3871.979980,4.820620e+09,0.0,0.0,^GSPC,NaN,-0.007454
2022-11-01 00:00:00-04:00,3901.790039,3911.790039,3843.800049,3856.100098,4.481210e+09,0.0,0.0,^GSPC,NaN,-0.004101
2022-11-02 00:00:00-04:00,3852.899902,3894.439941,3758.679932,3759.689941,4.899000e+09,0.0,0.0,^GSPC,NaN,-0.025002
2022-11-03 00:00:00-04:00,3733.250000,3750.590088,3698.149902,3719.889893,4.625290e+09,0.0,0.0,^GSPC,NaN,-0.010586
2022-11-04 00:00:00-04:00,3766.979980,3796.340088,3708.840088,3736.899902,1.999882e+09,0.0,0.0,^GSPC,NaN,0.004573

In [10]:
data = pd.merge(data, market[['market return']], how='left', left_index=True, right_index=True)
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Adj Close,market return
Date,,,,,,,,,,
1962-01-02 00:00:00-05:00,0.000000,0.771044,0.748367,0.754036,212800.0,0.0,0.0,MMM,NaN,-0.008246
1962-01-02 00:00:00-05:00,0.000000,0.003186,0.003142,0.003142,345600.0,0.0,0.0,MO,NaN,-0.008246
1962-01-02 00:00:00-05:00,0.000000,1.043712,1.019569,1.019569,5800.0,0.0,0.0,AEP,NaN,-0.008246
1962-01-02 00:00:00-05:00,0.194272,0.194272,0.190931,0.190931,352350.0,0.0,0.0,BA,NaN,-0.008246
1962-01-02 00:00:00-05:00,0.488671,0.493430,0.483911,0.488671,163200.0,0.0,0.0,CAT,NaN,-0.008246
...,...,...,...,...,...,...,...,...,...,...
2022-11-04 00:00:00-04:00,121.150002,122.419998,120.250000,121.260002,1670769.0,0.0,0.0,YUM,NaN,0.004573
2022-11-04 00:00:00-04:00,231.830002,232.630005,224.865005,228.014999,272827.0,0.0,0.0,ZBRA,NaN,0.004573
2022-11-04 00:00:00-04:00,106.610001,107.500000,103.750000,104.470001,964495.0,0.0,0.0,ZBH,NaN,0.004573
2022-11-04 00:00:00-04:00,48.810001,49.770000,48.740002,49.320000,899297.0,0.0,0.0,ZION,NaN,0.004573
2022-11-04 00:00:00-04:00,131.839996,133.473206,127.860001,132.574997,3006565.0,0.0,0.0,ZTS,NaN,0.004573

In [11]:
data = data.sort_values(['Ticker', 'Date']).reset_index()
data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Adj Close,market return
0,1999-11-18 00:00:00-05:00,27.847825,30.602008,24.481605,26.929766,62546380.0,0.000,0.0,A,NaN,0.010087
1,1999-11-19 00:00:00-05:00,26.279474,26.317727,24.366850,24.711123,15234146.0,0.000,0.0,A,NaN,-0.002063
2,1999-11-22 00:00:00-05:00,25.284907,26.929766,24.519857,26.929766,6577870.0,0.000,0.0,A,NaN,-0.000745
3,1999-11-23 00:00:00-05:00,26.011702,26.700248,24.481602,24.481602,5975611.0,0.000,0.0,A,NaN,-0.011471
4,1999-11-24 00:00:00-05:00,24.558100,25.667423,24.481594,25.131887,4843231.0,0.000,0.0,A,NaN,0.008856
...,...,...,...,...,...,...,...,...,...,...,...
4122979,2022-10-31 00:00:00-04:00,152.110001,153.339996,149.839996,150.779999,1899000.0,0.325,0.0,ZTS,NaN,-0.007454
4122980,2022-11-01 00:00:00-04:00,151.399994,154.910004,150.380005,152.720001,2286200.0,0.000,0.0,ZTS,NaN,-0.004101
4122981,2022-11-02 00:00:00-04:00,152.869995,153.210007,147.190002,147.360001,2638300.0,0.000,0.0,ZTS,NaN,-0.025002
4122982,2022-11-03 00:00:00-04:00,134.149994,134.149994,124.150002,131.139999,8065500.0,0.000,0.0,ZTS,NaN,-0.010586
4122983,2022-11-04 00:00:00-04:00,131.839996,133.473206,127.860001,132.574997,3006565.0,0.000,0.0,ZTS,NaN,0.004573

In [12]:
data.to_csv("price.csv")